---
const { node } = Astro.props;
import Single from "../templates/Single.react"
import { useQuery } from '../../lib/api';
const data = await useQuery(Single.query, Single.variables(node));

---
<h1>{node.name} - Single Post in React</h1>
<Single {...data} />
